@tailwind base;
@tailwind components;
@tailwind utilities;

* {
--dark-purple: #240115ff;
--rusty-red: #de3c4bff;
--electric-blue: #87f5fbff;
--dark-purple-2: #2f131eff;
--silver: #cec3c1ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* From Uiverse.io by aryamitra06 */ 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 10px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 12px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 24px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.skill-level {
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.skill-percent {
  height: 100%;
}
